[user]
	name = kanielrkirby
	email = piratey7007+1923@runbox.com
[push]
	autoSetupRemote = 1
	default = current
[pull]
	default = current
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
