[user]
	name = kanielrkirby
[push]
	autoSetupRemote = 1
	default = current
[pull]
	default = current
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
